body {
    background-color: rgb(31, 31, 37);
}



#text {
    position: absolute;
    top: 23%; left: 50% ; 
    transform: translate(-50%, -50%);

    font-size: 35;
    font-weight: bolder;
    color: white;

    border-radius: 15px;
    padding: 27; 
    background-color: rgb(73, 73, 160);
}

#re {
    position: absolute;
    top: 34%; left: 50% ; 
    transform: translate(-50%, -50%);
}

#aas{
    font-size: 35;
    border-radius: 15px;
    padding: 5; 
    background-color: rgb(255, 255, 255);
    border: 0;
}

#aas:active{
    background-color: rgb(170, 170, 170);
}

#piano {
    position: absolute;
    top: 63%; left: 50% ; 
    transform: translate(-50%, -50%);
}

#c {
    position: absolute;
    left: -174; top: 0;
}
#cs {
    position: absolute;
    left: -133; top: 0;
}
#d {
    position: absolute;
    left: -116; top: 0;
}
#ds {
    position: absolute;
    left: -75; top: 0;
}
#e {
    position: absolute;
    left: -58; top: 0;
}
#fs {
    position: absolute;
    left: 41.5; top: 0;
}
#g {
    position: absolute;
    left: 58; top: 0;
}
#gs {
    position: absolute;
    left: 99; top: 0;
}
#a {
    position: absolute;
    left: 116; top: 0;
}
#as {
    position: absolute;
    left: 157; top: 0;
}
#b {
    position: absolute;
    left: 174; top: 0;
}